
body.page
{
    margin: 0;
    padding: 0;
    background-color: rgb(247, 234, 234); 
}

body.admin
{
    margin: 0;
    padding: 0;
    background-color: rgb(247, 234, 234); 
}

.container
{   
    display: grid;
    width: 96%;
    margin: 0 auto;
   height: 100vh;
   gap: 1.8rem;
   grid-template-columns: 14rem auto 23rem;
   
}


.container aside
{
    height: 100vh;
    background-color:white; 
    
}
.container .sidebar a
{
    text-decoration: none;
    color: black;
}
img
{
    display: block;
    width: 100%;
}
.h2_admin
{
    margin: 0%;
    font-size: 1.2rem;
    padding: 5px 0;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.h3_admin
{
    font-size: 0.87rem;
}



aside .top
{
    background-color: rgb(247, 234, 234); 
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 1.4rem;
    /* gap: 0.8rem; : gère l'éccart entre les lettres*/
   
}

aside .logo
{
    display: flex;
    gap: 0.8rem;
    margin: 3%;
}



aside .logo img
{
    width: 2rem;
    height: 2rem;
}


aside .close
{
    display: none;
}



aside .sidebar
{
   
    display: flex;
    flex-direction: column;
    height: 86vh;
    position: relative;
    top: 3rem;
}

aside .h3_admin
{
    font-weight: 500;
}

aside .sidebar a
{
    display: flex;
    color: black;
    margin-left: 2rem;
    gap: 1rem;
    align-items: center;
    position: relative;
    height: 3.7rem;
    transition: all 300ms ease;
}

aside .sidebar a span
{
    font-size: 1.6rem;
    transition: all 300ms ease;
}

aside .sidebar a:last-child
{
    position: absolute;
    bottom: 2rem;
    width: 100%;


}

aside .sidebar a.active
{
    background: rgb(132, 139, 200, 0.18);
    color: #7380ec;
    margin-left: 0;
}

aside .sidebar a.active:before
{
    content: "";
    width: 6px;
    height: 100%;
    background: #7380ec;
}


aside .sidebar a.active span
{
    color: #7380ec;
    margin-left: calc(1rem -3px);

}

aside .sidebar a:hover
{
    color: #7380ec;
}

aside .sidebar a:hover span
{
    margin-left: 1rem;
   
}



.login
{
    position: absolute;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    border: 2px solid black;
    height: 300px;
    width:  500px;
    box-shadow: 5px 5px 0 rgba(0, 0, 0, 0.15);
    
}

.login h2
{
    margin: 15px;
    padding: 10px;
    border-bottom: 1px solid black;
    left: 50%;
    font-family: serif;
}

.error
{
    position: absolute;
    padding: 10px;
    background-color:red;
    width:  480px;
    top: 27%;
    left: 50%;
    transform: translate(-50%,-50%);
    border-bottom: 1px solid black;
    box-shadow: 5px 5px 0 rgba(0, 0, 0, 0.15);
}

.login table
{
    position: absolute;
   
    margin: 10px;
    margin-top: 15px;
    top: 60px;
    
    border-collapse: collapse;
    height: 150px; 
   width: 95%;
    text-align: justify;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.login table input
{
   border-radius: 15px;
   padding: 6px;
}
.login .con input
{
border-radius: 15px;
padding: 6px;
  position: relative;
    top: 160px;
  width: 95%;
  background-color: blue;
  cursor: pointer;
}

.login .con input:hover
{
    background-color: red;
}


/*Dashboard*/
.btn
{
    display: block;
    margin-top:  1rem;
    border-radius: .5rem;
    cursor: pointer;
    padding: 1rem 3rem;
    color: rgb(0, 0, 0);
    font-size: large;
    background:blue;
    text-decoration: none;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.btn:hover
{
    background: red;
}



main
{
    position: absolute;
    width: 83%;
    margin-left: 15%;
}


.admin .titre h1
{
  
    text-align: center;
    text-transform: uppercase;

}

.admin main .tableau_board
{
    display: grid;
    grid-template-columns: repeat(auto-fit, 500px);
    gap: 1.5rem;
    align-items: flex-start;
    column-gap: 250px;
    margin-left: 10px;
    row-gap: 15px;
    
    
    
}

.admin main .tableau_board .box
{
    text-align: center;
    background-color: aliceblue;
    border: black;
    box-shadow: 2px 2px rgb(0, 0, 0);
    border-radius: .5rem;
    padding: 2rem;
   

}


.admin main .tableau_board .box h3
{
    font-size: 1rem;
    color: black;

}

.admin main .tableau_board .box p
{
    padding: 1rem;
    border-radius: .5rem;
    background-color: blanchedalmond;
    font-size: 1rem;
    border:black;
    margin: 1rem 0;
}


.admin .container .horloge{
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color:black;
    text-shadow: 0 2px 50px rgba(10,10,10,0.5);
    bottom: 20%;
    text-align: center;
    margin-left: 10px;

}

.admin .container .horloge .heures{
   
    font-size: 20px;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: 7;
    padding-bottom: 5px;
    border-bottom: 1px solid rgba(10,10,10,0.2);
}

.admin .container .horloge .date{
    font-size: 15px;
    font-family: 'Nunito Sans', sans-serif;
    padding-top: 10px;
}


/**************Produit*******************/

.add-products form
{
    margin: 1% auto;

    max-width: 70rem;
    background-color: white; 
    border-radius: .5rem;
    box-shadow: 5px 5px rgb(0, 0, 0);
    border: 1px solid black;
    padding: 3rem;
}



.add-products form .flex
{
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
}

.add-products form .flex .inputBox 
{
    flex: 1 1 30rem;
}

.add-products form .flex .inputBox .box
{
    background-color: white;
    border: 2px solid;
    padding: 0.7rem;
    font-size: 1.8rem;
    width: 80%;
    color: black;
    border-radius: .5rem;
    margin-top: 1.5rem;
}


.add-products form .flex .inputBox span
{
    font-size: 1.5rem;
    color: black;
}


.add-products form .flex .inputBox textarea
{
        height: 5rem;
        resize:  none;
}

.btn-produit
{
    display: block;
    margin-top:  1rem;
    border-radius: .5rem;
    cursor: pointer;
    padding: 1rem 3rem;
    color:white;
    background:blue;
    text-decoration: none;
    width: 100%;
    font-size: large;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}


.empty
{
    border: 2px solid;
    border-radius: .5rem;
    background-color: white;
    padding: 1.5rem;
    font-size: 2rem;
    text-transform: capitalize;
    width: 65%;
    color: black;

}


.admin .boxcontainer
{
    display: grid;
    grid-template-columns: repeat(auto-fit,33rem);
    gap: 1.5rem;
    justify-content: center;
    align-items: flex-start;

}

.admin .boxcontainer .box
{
    background-color: white; 
    border-radius: .5rem;
    box-shadow: 5px 5px rgb(0, 0, 0);
    border: 1px solid black;
    padding: 2rem;
}

.admin .boxcontainer .box img
{
   
    height: 200px;
    text-align: center;
    object-fit: contain;
}

.admin .boxcontainer .box .btn .delete-btn
{
    color: black;
    text-decoration: none;
   
}

.admin .boxcontainer .box .name
{
    font-size: 2rem;
    color: black;
}
.admin .boxcontainer .box .Price
{
    font-size: 2rem;
    color: blue;
}
.admin .boxcontainer .box .details
{
    font-size: 2rem;
    color: black;
}
.admin .boxcontainer .box .genre
{
    font-size: 2rem;
    color: black;
}

.admin .boxcontainer .box .codetypemarchandise
{
    font-size: 2rem;
    color: black;
}


.admin .placed-orders .boxcontainer .box .drop-down
{
    width: 100%;
    background-color: white;
    padding-left: 2rem;
    padding: 1rem;
    font-size: 2rem;
    color: black;
    border-radius: 1.5rem;
}

.admin .placed-orders .boxcontainer .box .flex-btn input
{
    width: 100%;
}

.admin .placed-orders .boxcontainer .box span
{
    color: blue;
    font-size: large;
}