@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;1,600&display=swap');

*
{
    margin: 0;
    padding: 0;
    font-family: 'Poppins','sans-serif';
    box-sizing: border-box;
    position: relative;
    text-decoration: none;

   
}

/* body
{
   background: url("../image/arriere.jpg") no-repeat;
    background-size: cover ;
    height: 100vh;
}*/

header
{
    z-index: 1000;
    padding: 0px 7%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    background-color: rgb(255, 255, 255);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
}


header .user
{
    
        padding: 2px;
        background-color: rgb(255, 255, 255);
        width: 300px;
    
}

header .user .btncon a
{
    margin-left: 80px;
    font-size: 30px;
    padding: .5px;
    color: rgb(0, 0, 0);
    cursor: pointer;
    text-align: center;
    border: none;
    background-color: white;
    color: red;
}


header .user .btncon a:hover
{
    color: blue;
}


header p
{
    margin: 0 15px;
    font-size: 40px;
}
header .tete
{
    font-size: 30px;
    color: red;
    box-shadow: 0px 2px black;
    
}
header  .navbar ul
{
    list-style: none;
}
header  .navbar ul li
{
   position: relative;
   float: left;
}

header  .navbar ul li a
{
    display: block;
    font-size: 20px;
    padding: 20px;
    color: #333;
}
header  .navbar ul li  ul
{
  position: absolute;
  left: 0;
  width: 200px;
  background: rgb(255, 254, 254);
  display: none;
}

header  .navbar ul li  ul li
{
    width: 100%;
    padding: 0;
    border-bottom: 1px solid black;
}
header  .navbar ul li:focus-within >ul,
header  .navbar ul li:hover >ul
{
    display: initial;
}


.slider
{
    position: relative;
   height: 40vh;
   margin-top: 1.5%;
   background: url(../image/essai.png);
   overflow: hidden;
   box-shadow: 0 0 1px rgba(0, 0, 0, 0.6);
}

.slides
{
    position: relative;
    display: flex;
    animation: glisse 60s infinite;
}

.slides .slide img
{
    position: relative;
    height: 40vh;
    width: calc(200px *4);
    margin: 0 400px;

}
.slides .slide
{
    float: left;
    
}




header .icons
{
   
    margin-right: 30px;
}


header .icons .fa-heart
{
    margin-right: 30px;
    font-size: 30px;
    color: #333;
}

header .icons .fa-search
{
    margin-right: 30px;
    font-size: 30px;
    color: #333;
}

header .icons .fa-shopping-cart
{
    margin-right: 30px;
    font-size: 30px;
    color: #333;
}





@keyframes glisse 
{
 
    0%
    {
        transform: translate(0);
    }

    
    18%
    {
        transform: translate(-100%);
    }

    36%
    {
        transform: translate(-200%);
    }

    
    54%
    {
        transform: translate(-300%);
    }

   

    72%
    {
        transform: translate(-200%);
    }

    
    90%
    {
        transform: translate(-100%);
    }

    
    100%
    {
        transform: translate(0);
    }

}

.bar
{
    background-color: #333;
    height: 80px;
    width: 100%;
   
}

.bar ul li
{
    list-style-type: none;
        display: inline-block;
    padding: 25px;
   border-right: 2px solid white;
    width: 234.1px;
   
}

.bar ul li a
{
    color: white;
    letter-spacing: 0.1rem;
    padding: 10px;
}

.bar ul li a:hover
{
    color: blue;
}

.produit
{
    position: relative;
    text-shadow: 3px black;
    margin-top: 10px;
    margin-left: 800px;
    width: 100px;
}


.produit p
{
    margin: 0 15px;
    font-size: 30px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.produit span
{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 50px;
    color: red;
    box-shadow: 0px 2px black;
    
}



header  .navbar ul li a:hover,  
.vertical  .navbar ul li a:hover
{
 
    border-top: 5px solid red;
    color: blue;

}
   






/*test*/


.formulaire
 {
	display: inline-flex;
	justify-content: center;
	align-items: center;
    background-color: red;
    width: 400px;
    height: 600px;
    margin: 0 500px;
}

.formulaire .essai {
	display: flex;
	justify-content: center;
	align-items: center;
	flex: auto;
    top: -250px;
}
.formulaire .essai .register
{
    margin-left: 100px;
}


.formWrapper .card {
	width: 360px;
	padding: 20px;
	background-color: rgb(0 0 0 / 35%);
	visibility: hidden;
	opacity: 0;
	transition: opacity 0.3s, visibility 0.3s;
}

.card.show {
	visibility: visible;
	opacity: 1;
}

.card-header {
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	margin: 30px 20px 0;
	font-size: 1.1rem;
	color: #94f7e6;
	box-shadow: 2px 3px 8px #d3f7ff71;
	border-radius: 50px;
}

.card-header .form-header {
	flex: 50%;
	text-align: center;
	padding: 10px 0;
	border: 1px solid transparent;
	border-radius: 50px;
	user-select: none;
}

.card-header .form-header:hover {
	cursor: pointer;
}

.card-header .form-header.active {
	border-color: #94f7e6;
	box-shadow: inset 1px 1px 2px rgb(19 210 177 / 55%), inset -1px 1px 2px rgb(19 210 177 / 55%), inset -1px -1px 2px rgb(19 210 177 / 55%),
		inset 1px -1px 2px rgb(19 210 177 / 55%);
	transition: border-color 0.3s, box-shadow 0.3s;
}

.card-body {
	display: flex;
	flex-wrap: nowrap;
	padding: 40px 0;
	text-align: center;
}

form {
	flex: 0 0 100%;
}

.form-control {
	width: 100%;
	border: none;
	border-bottom: 1px solid rgb(134 255 249 / 65%);
	background: none;
	outline: none;
	padding: 10px 5px;
	margin-bottom: 20px;
	color: #fff;
}

label {
	display: block;
	padding-bottom: 20px;
	color: rgb(134 255 249 / 65%);
	text-align: left;
}

.form-control::placeholder {
	color: rgb(134 255 249 / 65%);
}

.formButton {
	border: 1px solid transparent;
	padding: 1rem 3rem;
	background-color: #94f7e6;
	border-radius: 50px;
	margin-top: 1rem;
	font-size: 1rem;
	transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.formButton:hover {
	box-shadow: 3px 5px 15px #94f7e6;
	transform: translateY(-5px);
}

.toggleForm {
	visibility: hidden;
	opacity: 0;
	transition: opacity 0.3s, visibility 0.3s;
}



/*produit*/


.boxcontainer
{
    display: grid;
    grid-template-columns: repeat(auto-fit,30rem);
    gap: 1.5rem;
    justify-content: center;
    align-items: flex-start; 
    background-color: #333;
    top: 30px;
    height: 1600px;
}
.boxcontainert
{
    display: grid;
    grid-template-columns: repeat(auto-fit,30rem);
    gap: 1.5rem;
    justify-content: center;
    align-items: flex-start; 
    background-color: #333;
    top: 30px;
    height: 3000px;
}

.boxcontainerte
{
    display: grid;
    grid-template-columns: repeat(auto-fit,30rem);
    gap: 1.5rem;
    justify-content: center;
    align-items: flex-start; 
    background-color: #333;
    top: 30px;
    margin-bottom: 50px;
}


.boxcontainerte .box .space,
.boxcontainert .box .space,
.boxcontainer .box .space
{
    margin-top: 40px;
}
.boxcontainerte .box .fa-heart,
.boxcontainert .box .fa-heart,
.boxcontainer .box .fa-heart
{
    margin: 0;
    position: absolute;
    top: -30px;
    color: #333;
    border: 1px solid black;
    height: 2.5rem;
    width: 2.5rem;
    font-size: 2rem;
    cursor: pointer;
    right: 10px;
    border-radius: 20px;
}
.boxcontainerte .box,
.boxcontainert .box,
.boxcontainer .box
{
    top: 10px;
    background-color:white; 
    text-align: center;
    margin-top: 10px;
    width: 350px;
    margin-bottom: 20px;
  border-radius: .5rem .5rem 20px 20px;
}
.boxcontainert .box .space img,
.recettes .box .space img,
.boxcontainer .box .space img,
.boxcontainerte .box .space img
{
    position: relative;
    height: 200px;
    width: 250px;
    object-fit: contain;
}
.boxcontainert .box .name,
.recettes .box .name,
.boxcontainer .box .name,
.boxcontainerte .box .name
{
    font-size: 25px;
    color: red;
}

.boxcontainert .box .price,
.boxcontainer .box .price,
.boxcontainerte .box .price
{
    color: blue;
    text-decoration: solid;
    font-size: large;
}
.boxcontainert .box .btn,
.boxcontainer .box .btn,
.boxcontainerte .box .btn
{
    color: white;
    display: flex;
    font-size: 20px;
    background-color: blue;
    width: 350px;
    margin-top: 20px;
    padding: 0 70px;
    cursor: pointer;
    height: 60px;
    border-radius: 20px;

}
.boxcontainerte .box .btne 
{
    position: relative;
    background-color: blue;
    width: 350px;
    height: 50px;
    border-radius: 20px;
}



.boxcontainerte .box .btne a
{
    color: white;
    top: 10px;
    font-size: large;
}
/*recttes*/


.produits
{
    position: relative;
    text-shadow: 3px black;
    margin-top: 50px;
    margin-left: 800px;
    width: 100px;
}


.produits p
{
    margin: 0 15px;
    font-size: 30px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.produits span
{
    font-size: 50px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: red;
    box-shadow: 0px 2px black;
    
}



 iframe
{
    margin-top: 20px;
    height: 550px;
    width: 100%;
    

}






.recettes
{
    display: grid;
    grid-template-columns: repeat(auto-fit,30rem);
    gap: .5rem;
    justify-content: center;
    align-items: flex-start; 
    background-color: #333;
    top: -1px;
}






.recettes .box
{
    background-color:white; 
    text-align: center;
    margin-top: 10px;
    width: 350px;
  border-radius: .5rem .5rem 20px 20px;
  margin-bottom: 10px;
}

/**********************Commande*************************/

.commande
{
    top: 20px;
    width: 100%;
    height: 200px;
    box-shadow: 2px solid black;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #333;
}


.commande p
{
    font-size: x-large;
    color: red;
    margin-left: 100px;
}


.commande a
{
   background-color: white;
   color: black;
   width: 200px;
   height: 80px;
   border: 3px solid black;
   border-radius: 20px;
   padding-top: 20px;
   text-align: center;
   font-size: x-large;
   margin-right: 100px;
}





/************************************/

.footer{
    background-color: #f2f2f2;
     padding-bottom: 7rem; 
     height: 500px;
 }
 

 .footer .grid{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(27rem, 1fr));
    gap:1.5rem;
    align-items: flex-start;
 }
 
 .footer .grid .box h3{
    font-size: 2rem;
    color:var(--black);
    margin-bottom: 2rem;
    text-transform: capitalize;
 }
 
 .footer .grid .box a{
    display: block;
    margin:1.5rem 0;
    font-size: 1.7rem;
    color:var(--light-color);
 }
 
 .footer .grid .box a i{
    padding-right: 1rem;
    color:var(--main-color);
    transition: .2s linear;
 }
 
 .footer .grid .box a:hover{
    color:var(--main-color);
 }
 
 .footer .grid .box a:hover i{
    padding-right: 2rem;
 }
 
 .footer .credit{
    text-align: center;
    padding: 2.5rem 2rem;
    border-top: var(--border);
    font-size: 2rem;
    color:var(--black);
 }
 
 .footer .credit span{
    color:var(--main-color);
 }



 .center{
    position: relative;
    margin-top:4%;
    left: 40%;
    width: 400px;
    background: rgb(255, 254, 254);
    border-radius: 10px;
    box-shadow: 10px 10px 15px rgba(0,0,0,0.05);
    border: 2px solid black;
    margin-bottom: 200px;
  }
  .center h1{
    text-align: center;
    padding: 20px 0;
    border-bottom: 1px solid silver;
    color: blue;
  }
  .center form{
    padding: 0 40px;
    box-sizing: border-box;
  }
  form .txt_field{
    position: relative;
    border-bottom: 2px solid #adadad;
    margin: 30px 0;
  }
  .txt_field input{
    width: 100%;
    padding: 0 5px;
    height: 40px;
    font-size: 16px;
    border: none;
    background: none;
    outline: none;
  }
  .txt_field label{
    position: absolute;
    top: 50%;
    left: 5px;
    color: #adadad;
    transform: translateY(-50%);
    font-size: 16px;
    pointer-events: none;
    transition: .5s;
  }
  .txt_field span::before{
    content: '';
    position: absolute;
    top: 40px;
    left: 0;
    width: 0%;
    height: 2px;
    background: #2691d9;
    transition: .5s;
  }
  .txt_field input:focus ~ label,
  .txt_field input:valid ~ label{
    top: -5px;
    color: #2691d9;
  }
  .txt_field input:focus ~ span::before,
  .txt_field input:valid ~ span::before{
    width: 100%;
  }
  .pass:hover{
    text-decoration: underline;
  }
  input[type="submit"]{
    width: 100%;
    height: 50px;
    border: 1px solid;
    background: #2691d9;
    border-radius: 25px;
    font-size: 18px;
    color: #e9f4fb;
    font-weight: 700;
    cursor: pointer;
    outline: none;
  }
  input[type="submit"]:hover{
    border-color: #2691d9;
    transition: .5s;
  }
  .signup_link{
    margin: 30px 0;
    text-align: center;
    font-size: 16px;
    color: #666666;
  }
  .signup_link a{
    color: #2691d9;
    text-decoration: none;
  }
  .signup_link a:hover{
    text-decoration: underline;
  }




















  /*************************commande*****************************/


  .container {
    position: relative;
    max-width: 700px;
    width: 100%;
    background: #fff;
    padding: 25px;
    border-radius: 8px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    left: 34%;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  .container header {
    font-size: 1.5rem;
    color: #333;
    font-weight: 500;
    text-align: center;
  }
  .container .form {
    margin-top: 30px;
  }
  .form .input-box {
    width: 100%;
    margin-top: 20px;
  }
  .input-box label {
    color: #333;
  }
  .form :where(.input-box input, .select-box) {
    position: relative;
    height: 50px;
    width: 100%;
    outline: none;
    font-size: 1rem;
    color: #707070;
    margin-top: 8px;
    border: 1px solid #ddd;
    border-radius: 6px;
    padding: 0 15px;
  }
  .input-box input:focus {
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
  }
  .form .column {
    display: flex;
    column-gap: 15px;
  }
  .form .gender-box {
    margin-top: 20px;
  }
  .gender-box h3 {
    color: #333;
    font-size: 1rem;
    font-weight: 400;
    margin-bottom: 8px;
  }
  .form :where(.gender-option, .gender) {
    display: flex;
    align-items: center;
    column-gap: 50px;
    flex-wrap: wrap;
  }
  .form .gender {
    column-gap: 5px;
  }
  .gender input {
    accent-color: rgb(130, 106, 251);
  }
  .form :where(.gender input, .gender label) {
    cursor: pointer;
  }
  .gender label {
    color: #707070;
  }
  .address :where(input, .select-box) {
    margin-top: 15px;
  }
  .select-box select {
    height: 100%;
    width: 100%;
    outline: none;
    border: none;
    color: #707070;
    font-size: 1rem;
  }
  .form button {
    height: 55px;
    width: 100%;
    color: #fff;
    font-size: 1rem;
    font-weight: 400;
    margin-top: 30px;
    border: none;
    cursor: pointer;
    transition: all 0.2s ease;
    background: rgb(130, 106, 251);
  }
  .form button:hover {
    background: rgb(88, 56, 250);
  }
  /*Responsive*/
  @media screen and (max-width: 500px) {
    .form .column {
      flex-wrap: wrap;
    }
    .form :where(.gender-option, .gender) {
      row-gap: 15px;
    }
  }